<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite_zhihuiya_toolbox" parallel="false">
	<!-- basic -->
	<parameter name="browserType" value="ff" />
	<parameter name="chromeDriverPath" value="E:\\autotest\\drivers\\chromedriver.exe" />
	<parameter name="ieDriverPath" value="E:\\autotest\\drivers\\IEDriverServer.exe" />
	<parameter name="timeout_ImplicitlyWait" value="5" />
	<parameter name="timeout_PageLoadTimeout" value="60" />
	<parameter name="timeout_ScriptLoadTimeout" value="60" />
	<parameter name="firefoxProfile" value="0" />
	<!-- account -->
	<parameter name="loginPage_url" value="http://test.patsnap.com/" />
	<parameter name="loginPage_uid" value="hanqing@zhihuiya.com" />
	<parameter name="loginPage_pwd" value="123456" />
	<!-- database -->
	<parameter name="" value="" />
	
	<test name="zhihuiya_toolbox_1" preserve-order="true">
		<parameter name="searchPage_database" value="ALL_DB" />
		<parameter name="searchPage_field" value="PN" />
		<parameter name="searchPage_keyword" value="US200592" />
		<parameter name="loginPage_superPassword" value="asdf02rksdf01[sflsakf2asdmfkr" />
		<parameter name="firefoxProfile" value="1" />
		<parameter name="download_path" value="C:/selenium_download" />
		<classes>
			<class name="Zhihuiya_regressionTest">
				<methods>
					<include name="toolbox_1" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="zhihuiya_toolbox_2" preserve-order="true">
		<parameter name="timeout_ImplicitlyWait" value="1" />
		<parameter name="timeout_PageLoadTimeout" value="600" />
		<parameter name="timeout_ScriptLoadTimeout" value="300" />
		<parameter name="searchPage_database" value="ALL_DB" />
		<parameter name="searchPage_field" value="TTL" />
		<parameter name="searchPage_keyword" value="trip" />
		<parameter name="landscapePage_sampingValue" value="100" />
		<parameter name="landscapePage_sampingTimeout" value="300" />
		<parameter name="landscapePage_retryTimes" value="1" />
		<classes>
			<class name="Zhihuiya_smokeTest">
				<methods>
					<include name="landscapeHistory" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="zhihuiya_toolbox_3" preserve-order="true">
		<parameter name="searchPage_database" value="ALL_DB" />
		<parameter name="searchPage_field" value="TTL" />
		<parameter name="searchPage_keyword" value="trip" />
		<classes>
			<class name="Zhihuiya_smokeTest">
				<methods>
					<include name="emailAlert" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="zhihuiya_toolbox_4" preserve-order="true">
		<parameter name="queryName" value="TestQuery" />
		<parameter name="query_or_1" value="(PN:(US2005985))" />
		<parameter name="query_or_2" value="(PN:(US2005974))" />
		<parameter name="query_and_1" value="(PN:(US200592))" />
		<parameter name="query_and_2" value="(PN:(US2005923))" />
		<parameter name="pn_or_1" value="US2005985" />
		<parameter name="pn_or_2" value="US2005974" />
		<parameter name="pn_and_1" value="US2005926" />
		<parameter name="pn_and_2" value="US2005923" />
		<classes>
			<class name="Zhihuiya_regressionTest">
				<methods>
					<include name="toolbox_2" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="zhihuiya_toolbox_5" preserve-order="true">
		<parameter name="loginPage_pwd_new" value="654321" />
		<classes>
			<class name="Zhihuiya_regressionTest">
				<methods>
					<include name="toolbox_3" />
				</methods>
			</class>
		</classes>
	</test>
	
</suite>