<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite_zhihuiya_userList" parallel="false">
	<!-- basic -->
	<parameter name="browserType" value="ff" />
	<parameter name="chromeDriverPath" value="E:\\autotest\\drivers\\chromedriver.exe" />
	<parameter name="ieDriverPath" value="E:\\autotest\\drivers\\IEDriverServer.exe" />
	<parameter name="timeout_ImplicitlyWait" value="5" />
	<parameter name="timeout_PageLoadTimeout" value="60" />
	<parameter name="timeout_ScriptLoadTimeout" value="60" />
	<parameter name="firefoxProfile" value="0" />
	<!-- account -->
	<parameter name="loginPage_url" value="http://test-analytics.patsnap.com/" />
	<parameter name="loginPage_uid" value="xuchaobo1@patsnap.com" />
	<parameter name="loginPage_pwd" value="111111" />
	<parameter name="loginPage_uid1" value="test1@123.com" />
	<parameter name="loginPage_pwd1" value="111111"/>
	<!-- database -->
	<parameter name="" value="" />

	<!--<test name="Create Parent Folder from Userlist Page " preserve-order="true">-->
		<!--<parameter name="ExpFolder" value="New Folder" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_784" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Create Parent Folder from SRP Page " preserve-order="true">-->
		<!--<parameter name="Query" value="trip" />-->
		<!--<parameter name="Folder1" value="Eng中" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_808" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Create Parent Folder from Bulk Search Page " preserve-order="true">-->
		<!--<parameter name="PublicationNumber" value="JP1991259010A" />-->
		<!--<parameter name="FolderName" value="~!@#$%^*()_+}{" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_866" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Create Parent Folder from Patent View Page " preserve-order="true">-->
		<!--<parameter name="Query" value="trip" />-->
		<!--<parameter name="FolderName2" value="1234567890" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_810" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Create Child Folder from Userlist Page " preserve-order="true">-->
		<!--<parameter name="ExpFolder" value="New Folder" />-->
		<!--<parameter name="ParentFolder" value="ParentFolder" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_828" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Create Child Folder from SRP Page " preserve-order="true">-->
		<!--<parameter name="Query" value="trip" />-->
		<!--<parameter name="FolderName1" value="Eng中" />-->
		<!--<parameter name="ParentFolder" value="ParentFolder" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_871" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Create Child Folder from Bulk Search Page " preserve-order="true">-->
		<!--<parameter name="PublicationNumber" value="JP1991259010A" />-->
		<!--<parameter name="FolderName" value="~!@#$%^*()_+}{" />-->
		<!--<parameter name="ParentFolder" value="ParentFolder" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_797" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Create Child Folder from Patent View Page " preserve-order="true">-->
		<!--<parameter name="Query" value="trip" />-->
		<!--<parameter name="FolderName2" value="1234567890" />-->
		<!--<parameter name="ParentFolder" value="ParentFolder" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_879" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Edit Parent Folder from Userlist Page " preserve-order="true">-->
		<!--<parameter name="PreFolder" value="PreFolder" />-->
		<!--<parameter name="EditName3" value="0987654321" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_917" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Edit Parent Folder from SRP Page " preserve-order="true">-->
		<!--<parameter name="Query" value="trip" />-->
		<!--<parameter name="PreFolder" value="PreFolder" />-->
		<!--<parameter name="EditName2" value="~！@#￥%……*（）" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_964" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Edit Parent Folder from Bulk Search Page " preserve-order="true">-->
		<!--<parameter name="PublicationNumber" value="JP1991259010A" />-->
		<!--<parameter name="PreFolder" value="PreFolder" />-->
		<!--<parameter name="EditName1" value="Test测试" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_931" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Edit Parent Folder from Patent View Page " preserve-order="true">-->
		<!--<parameter name="Query" value="trip" />-->
		<!--<parameter name="PreFolder" value="PreFolder" />-->
		<!--<parameter name="EditName2" value="~！@#￥%……*（）" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_953" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Edit Child Folder from Userlist Page " preserve-order="true">-->
		<!--<parameter name="PreFolder" value="PreFolder" />-->
		<!--<parameter name="PreChildFolder" value="PreChildFolder" />-->
		<!--<parameter name="EditName1" value="Test测试" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_975" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Edit Child Folder from SRP Page " preserve-order="true">-->
		<!--<parameter name="PreFolder" value="PreFolder" />-->
		<!--<parameter name="PreChildFolder" value="PreChildFolder" />-->
		<!--<parameter name="Query" value="trip" />-->
		<!--<parameter name="EditName3" value="0987654321" />-->
  		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_1001" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Edit Child Folder from Bulk Search Page " preserve-order="true">-->
		<!--<parameter name="PublicationNumber" value="JP1991259010A" />-->
		<!--<parameter name="PreFolder" value="PreFolder" />-->
		<!--<parameter name="PreChildFolder" value="PreChildFolder" />-->
		<!--<parameter name="EditName2" value="~！@#￥%……*（）" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_986" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Edit Child Folder from Patent View Page " preserve-order="true">-->
		<!--<parameter name="PreFolder" value="PreFolder" />-->
		<!--<parameter name="PreChildFolder" value="PreChildFolder" />-->
		<!--<parameter name="Query" value="trip" />-->
		<!--<parameter name="EditName1" value="Test测试" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_992" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Delete folder from Userlist page " preserve-order="true">-->
		<!--<parameter name="ParentFolder" value="ParentFolder" />-->
		<!--<parameter name="ChildFolder" value="ChildFolder" />-->
		<!--<parameter name="PreFolder" value="PreFolder" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_1062" />-->
					<!--<include name="userlist_Pat_1063" />-->
					<!--<include name="userlist_Pat_1065" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Share folder " preserve-order="true">-->
		<!--<parameter name="ParentFolder" value="ParentFolder" />-->
		<!--<parameter name="ChildFolder" value="ChildFolder" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_1090" />-->
					<!--<include name="userlist_Pat_1094" />-->
					<!--<include name="userlist_Pat_1098" />-->
					<!--<include name="userlist_Pat_1099" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Manual Collect Patents from SRP(Selected patent records) " preserve-order="true">-->
		<!--<parameter name="Query" value="trip" />-->
		<!--<parameter name="ManualAddList" value="ManualAddList" />-->
		<!--<parameter name="PageNum" value="10" />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_5145" />-->
					<!--<include name="userlist_Pat_5146" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Auto Collect Patents " preserve-order="true">-->
		<!--<parameter name="LongQuery" value='((((((TTL:(car) OR ABST:(car))))))) AND ((AN_S:"HYUNDAI MOTOR COMPANY" OR AN_S:"KIA MOTORS CORPORATION" OR AN_S:"NISSAN MOTOR CO LTD") AND (APD_YEAR:"2013" OR APD_YEAR:"2014" OR APD_YEAR:"2012" OR APD_YEAR:"2011" OR APD_YEAR:"2010"))' />-->
		<!--<parameter name="AutoList" value="AutoList" />-->
		<!--<parameter name="Exp_info" value="There are no patent records in this list. Try searching for some patents and then click ‘Add to List’." />-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_1168" />-->
					<!--<include name="userlist_Pat_1172" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Drag Patents to Copy" preserve-order="true">-->
		<!--<parameter name="Folder" value="Folder"/>-->
		<!--<parameter name="ShareFolder" value="ShareFolder" />-->
		<!--<parameter name="ParFolder" value="ParFolder" />-->
		<!--<parameter name="ChildFolder" value="ChildFolder" />-->
		<!--<parameter name="Query" value='((((((TTL:(car) OR ABST:(car))))))) AND ((AN_S:"HYUNDAI MOTOR COMPANY" OR AN_S:"KIA MOTORS CORPORATION" OR AN_S:"NISSAN MOTOR CO LTD") AND (APD_YEAR:"2013" OR APD_YEAR:"2014" OR APD_YEAR:"2012" OR APD_YEAR:"2011" OR APD_YEAR:"2010"))'/>-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_1214" />-->
					<!--<include name="userlist_Pat_1225" />-->
					<!--<include name="userlist_Pat_1771" />-->
					<!--<include name="userlist_Pat_1776" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->
	<!--<test name="Drag Patents to Move" preserve-order="true">-->
		<!--<parameter name="Folder" value="Folder"/>-->
		<!--<parameter name="ShareFolder" value="ShareFolder" />-->
		<!--<parameter name="ParFolder" value="ParFolder" />-->
		<!--<parameter name="ChildFolder" value="ChildFolder" />-->
		<!--<parameter name="Query" value='((((((DESC:(car))))))) AND ((AN_S:"INTERNATIONAL BUSINESS MACHINES CORPORATION" OR AN_S:"MICROSOFT CORPORATION") AND (APD_YEAR:"2014") AND (ICL_S:"G06F17/30" OR ICL_S:"G06F3/01" OR ICL_S:"G06K9/00" OR ICL_S:"H04W4/02" OR ICL_S:"G06Q30/02"))'/>-->
		<!--<classes>-->
			<!--<class name="Zhihuiya_regressionTest_userlist">-->
				<!--<methods>-->
					<!--<include name="userlist_Pat_1230" />-->
				<!--</methods>-->
			<!--</class>-->
		<!--</classes>-->
	<!--</test>-->

	<test name="Drag Patents to Move" preserve-order="true">
		<parameter name="folder" value="testhq"/>
		<parameter name="query" value="car" />
		<parameter name="pnIndexes" value="1, 2, 4, 6" />
		<classes>
			<class name="Zhihuiya_regressionTest_userlist">
				<methods>
					<include name="demoHQ" />
				</methods>
			</class>
		</classes>
	</test>


</suite>